@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply
  text-2xl
}

.primary-button {
  @apply 
  max-w-73 min-w-24 
  border-2 border-zinc-50 rounded-sm 
  bg-zinc-50 text-zinc-950;
}

.secondary-button {
  @apply 
  max-w-73 min-w-24
  border-2 border-zinc-50 rounded-sm
  bg-zinc-950 text-zinc-50;
}

.form-input-field {
  @apply
  border-2 border-zinc-50 rounded-sm
  p-1
}